body {
	background-color: rgba(0, 0, 0, 1);
	background-image: url(logo2.1.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 80% 100%;
	margin:0;
	color:white;
	font-family: cursive;
	z-index: 21;
}
.nav {
	width: 100%;
	position: sticky;
	top: 0;
	border-bottom: 1px solid white;
	background-color: black;
	z-index: 20;
}
.inline {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: black;
}
.inline .inf{
	display: inline-block;
	padding: 0;
	width: 50%;
	margin: 0;
	text-align: center;
	vertical-align: middle;
}
	
.nav li{
	display: inline-block;
	color:white;
}
.right {
	width: 20px;
	height: 20px;
}
.nav .logo {
	float: right;
	margin-top: 20px;
	padding-left: 1%;
}
#twit {
	margin-right: 4%;
}
.left {
	padding-left: 30px;
	padding-right: 15px;
}
.mid {
	padding-left: 30px;
	padding-right: 15px;
}
#head {
	margin-left: 190px;
	padding-left:0;
	font-size: 130%;
	margin-top: 0;
}
#intro {
	text-align: center;
	width: 100%;
	margin-top: 18.5%;
	margin-bottom: 20.5%;
	font-size: 140%;
	font-family: 'Raleway', sans-serif;
	z-index: 2;
}
#info {
	margin-right: 0;
	padding: 0;
	margin: 0;
}
#dp {
	width: 49.5%;
	margin: 0;
	padding: 0;
}
.center {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin-top: 5%;
}
.inthr {
	align-self: center;
	border: 1px solid white;
	width: 40%;
}
#hobbies {
	width: 100%;
	height: 25%;
	text-align: center;
	
}
#hobbies li {
	margin-top: 6%;
	display: inline-block;
	width: 15%;
	margin-right: 4.75%;
	margin-left: 4.75%;

}
.hob {
	width: 100%;
	height: 100%;
}
#hob4 {
	background-color: white;
}
#more {
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 6%;
	margin-bottom: 6%;
}
#last {
	width: 100%;
	background-color: black;
	border-top: 2px solid white;
}

.contact{
	width: 100%;
	height: 25%;
	text-align: center;
}
.contact li {
	margin-top: 4%;
	display: inline-block;
	width: 15%;
	margin-right: 4.75%;
	margin-left: 4.75%;
}
.cont {
	width: 100%;
	height: 100%;
	color:white;
}
#cont4 {
	background-color: white;
}
.last2 {
	font-family:'Raleway', sans-serif;
	margin-top: 3%;
	margin-bottom: 2%;
}
.fb {
	height: 50%;
}
a:active {
  background: black;
  color: white;
  text-decoration-color: black;

}
a:link {
  color: white;
  text-decoration-color: black;

}

a:visited {
  color: white;
  text-decoration-color: black;
}

a:focus {
  background: black;
  text-decoration-color: black;
}

a:hover {     
  background: black;
  text-decoration-color: black;
}

.left a:hover {     
  background: black;
  text-decoration-color: black;
  border-bottom: 2px solid white;
}

